/* .ColorBox {
  width: 20%;
  height: 25%;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  margin-bottom: -3.5px;
}
.ColorBox.SingleColor {
  width: 20%;
  height: 50%;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  margin-bottom: -3.5px;
} */
/* .ColorBox.go-back {
  background-color: black;
} */

/* .copy-button {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100px;
  height: 30px;
  display: inline-block;
  margin-left: -50px;
  margin-top: -15px;
  background-color: rgba(255, 255, 255, 0.3);
  border: none;
  font-size: 1rem;
  color: white;
  text-transform: uppercase;
  text-align: center;
  opacity: 0;
} */
.go-back .copy-button {
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .copy-button:focus {
  border: none;
  outline: none;
}
.ColorBox:hover .copy-button {
  opacity: 1;
  transition: 0.5s;
}
.color-name {
  position: absolute;
  left: 0px;
  bottom: 0px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 12px;
  padding: 10px;
} */
/* .light {
  color: white;
}
span .dark {
  color: black;
} */
/* .more {
  position: absolute;
  border: none;
  right: 0px;
  bottom: 0px;
  line-height: 30px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.3);
  text-transform: uppercase;
  padding: 2px 5px;
  color: white;
  width: 60px;
  height: 30px;
} */
/* .more.dark {
  color: rgba(0, 0, 0, 0.5);
} */
/* .copy-overlay {
  z-index: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: transform 0.6s ease-in-out;
  transform: scale(0.1);
} */

/* .show {
  transform: scale(50);
  position: absolute;
  opacity: 1;
  z-index: 10;
  overflow: hidden; */
/* } */
/* .copy-msg {
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: scale(0.001);
  opacity: 1;
} */

/* .copy-msg h1 {
  background-color: rgba(255, 255, 255, 0.2);
  width: 100%;
  font-size: 4rem;
  font-weight: 600;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-shadow: 1px 2px black;
  color: white;
}
.copy-msg p {
  font-size: 2rem;
  font-weight: 100;
  letter-spacing: 1px;
} */
/* .copy-msg p.dark {
  color: rgba(0, 0, 0, 0.5);
} */

/* .copy-msg.show {
  opacity: 1;
  z-index: 25;
  transform: scale(1);
  transition: 0.4s;
  transition-delay: 0.2s;
} */
