/* .Navbar {
  height: 6vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.slider-container {
  font-size: 16px;
  letter-spacing: 1px;
  margin: 0px 9px;
  text-transform: uppercase;
}
.hide {
  display: none;
}
.brand {
  background-color: #eceff1;
  height: 100%;
  font-size: 20px;
  display: flex;
  align-items: center;
  padding: 0 13px;
  margin: 0px 5px;
  font-family: "MedievalSharp", cursive;
  color: black;
  text-decoration: none;
}
.slider {
  width: 200px;
  margin: 0 10px;
  display: inline-block;
} */
.rc-slider-track {
  background-color: transparent;
}
/* .rc-slider-rail {
  height: 15px;
} */
/* .rc-slider-handle,
.rc-slider-handle:active,
.rc-slider-handle:focus,
.rc-slider-handle:hover {
  background-color: #79e4e4;
  outline: none;
  border: 2px solid #79e4e4;
  box-shadow: none;
  width: 13px;
  height: 13px;
  margin-left: -7px;
  margin-top: -3px;
  padding: 8px;
} */
.select-container {
  margin-left: auto;
  margin-right: 20px;
}
