.Navbar {
  height: 6vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.slider-container {
  font-size: 16px;
  letter-spacing: 1px;
  margin: 0px 9px;
  text-transform: uppercase;
}
.brand {
  background-color: #eceff1;
  height: 100%;
  font-size: 20px;
  display: flex;
  align-items: center;
  padding: 0 13px;
  margin: 0px 5px;
  font-family: "MedievalSharp", cursive;
}
.slider {
  width: 340px;
  margin: 0 10px;
  display: inline-block;
}
.rc-slider-track {
  background-color: transparent;
}
.rc-slider-rail {
  height: 8px;
}
.rc-slider-handle,
.rc-slider-handle:active,
.rc-slider-handle:focus,
.rc-slider-handle:hover {
  background-color: #f1645d;
  outline: none;
  border: 2px solid #f1645d;
  box-shadow: none;
  width: 13px;
  height: 13px;
  margin-left: -7px;
  margin-top: -3px;
}
.select-container {
  margin-left: auto;
  margin-right: 20px;
}
